.area {
    cursor: pointer;
}



.drop {
    display: none;
    position: absolute;
    background-color: #000000d5;
    min-width: 80px;
    z-index: 1;
    border-radius: 6px;
}

.drop a:hover {
    color: #fff;
    width: 100%;
}

.text:hover .drop {
    display: block;
}

.text:hover .label {
    background-color: transparent;
}

.drop a{
    width: 100%;
}

.no{
    visibility: hidden;
}

.bg{
    background: url(images/stat.png);
}