.area {
    cursor: pointer;
}



.drop {
    display: none;
    position: absolute;
    background-color: #000000d5;
    min-width: 80px;
    z-index: 1;
    border-radius: 6px;
}

.drop a:hover {
    color: #fff;
    width: 100%;
}

.text:hover .drop {
    display: block;
}

.text:hover .label {
    background-color: transparent;
}

.drop a{
    width: 100%;
}

.no{
    visibility: hidden;
}

.bg{
    background: url(images/stat.png);
}

.drop > div:hover{
    background-color: rgba(134, 132, 132, 0.425);
    border-radius: 2px;
}

header{
    position: sticky;
    top: 0;
}

.up {
    width: 25px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}

.up:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.top > span{
    color: #fca400;
}
